*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --black: rgba(0,0,0,1);
    --black-05: rgba(0,0,0,0.5);
    --white: rgba(255,255,255,1);
    --white-01: rgba(255,255,255,0.1);
    z-index:1;
}

body{
    font-size: 16px;
    font-family: "Poppins";
    width: 100%;
    height: 100vh;
}

#img-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    top:0;
    left: 0px;
    overflow: hidden;
}

#bg{
    height: 100vh;
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 60%);
}

#back-img{
    height: 80vh;
    width: auto;
    position: absolute;
    z-index: -3;
    top: 0px;
    left: -80px;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header > h1{
    font-size: 28px;
    padding-top: 10px;
    color: var(--white);
}

#content-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    bottom: 20px;
}

#youtube-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--white-01);
    padding: 10px 10px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#youtube-content h2{
    color: var(--white);
    font-size: 16px;
    text-align: center;
    filter: drop-shadow(0px 5px 5px var(--black-05));
    -webkit-filter: drop-shadow(0px 5px 5px var(--black-05));
    padding-top: 5px;
}

#youtube-thumbnail{
    width: 100%;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 5px var(--black-05));
    margin-bottom: 8px;
    -webkit-filter: drop-shadow(0px 5px 5px var(--black-05));
}

#social-container{
    margin-top: 15px;
    width: 100%;
    background-color: var(--white-01);
    padding: 15px 25px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social-svg{
    fill: var(--white);
    height: 30px;
}

#footer{
    width: 100%;
    color: white;
    font-size: 10px;
    text-align: center;
    position: absolute;
    bottom: 5px;
}

#tips-div{
    color: var(--black);
    position: absolute;
    top: -50px;
    padding: 10px 20px;
    background: var(--white);
    font-size: 15px;
    transition: 0.5s ease;
    border-radius: 20px;
}

#tips-div::after{
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 30px solid var(--white);
}